.fixed-bar {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: #f6f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: block;
  justify-content: space-between;
}
 
.top-left,
.top-right {
  display: flex;
  align-items: center;
}
 
 
.app {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
}
 
.top-left {
  position: absolute;
  top: 20px;
  left: 10%;
}
 
.top-right {
  position: absolute;
  top: 20px;
  right: 10%;
}
 
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
 
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}
 
.navbar-profile {
  display: flex;
  align-items: center;
  position: relative;
}
 
.navbar-profile img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
 
.togle-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
 
.togle-menu p {
  margin: 5px 0;
}
 
.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
 
.btn {
  margin-top: 10px;
}
 
 
.content {
  padding: 20px;
}
 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.no-tasks{
  font-size: larger;
  font-weight:bolder;
}
.top-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b2efef;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  /* To ensure it appears on top of other page elements */
}
 
 
.create-todo-button button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
 
.create-todo-button button:hover {
  background-color: #0056b3;
}
 
.todos {
  width: 83%;
  margin-top: 50px;
}
 
.todo {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.todo table {
  width: 100%;
}

.todo td {
  padding: 10px;
}

.todo-content {
  margin-bottom: 10px;
}

.todo-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin:5px;
}

.Update-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin:5px;
}

.status-dropdown {
  padding: 5px;
}

/* Responsive Styles */

@media only screen and (max-width: 400px) {
  .todo {
    padding: 10px;
  }

  .todo td {
    padding: 5px;
  }

  .todo-options {
    align-items: flex-end;
  }
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}
 
/* Responsive Styles */
@media (max-width: 600px) {
  .todo {
    max-width: 100%;
  }
}
 

 
 
 
.create-todo-modal {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
 
.create-todo-modal h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
 
.create-todo-modal button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
 
.create-todo-modal div {
  margin-top: 20px;
  color: #555;
}
 
.create-todo-form {
  margin-top: 20px;
  text-align: left;
}
 
.create-todo-form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
 
.create-todo-form input[type="text"],
.create-todo-form input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
}
 
.create-todo-form input[type="submit"] {
  margin-top: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
 
.delete-btn {
  background-color: red;
}
 
.close {
  color: #fff;
  background-color: #b8b4b4d7;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #333;
}
 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.todo-content{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.todo-content{
  text-align: left;
}

.todo-option-contents{
  width: 100%;
}

.todo-option-contents button{
  margin: 0px;
  margin-bottom: 25px;
  width: 100%;
}

.todo-content select{
  border-radius: 5px;
}

.todo-option-parent{
  width: 15%;
}

.todo{
  max-height: 200px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-x: auto;
  scroll-behavior: unset;
}

.todos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
